﻿<md-dialog class="editor-modal" aria-label="">   
    <md-dialog-content class="editor-container">
        <div class="md-dialog-content warning-checkout-container">
            <h4 class="modal-title" ng-if="!$editorModal.image.Id">Add new Svg image</h4>
            <h4 class="modal-title" ng-if="$editorModal.image.Id">Update Svg image</h4>

            <form name="imageForm" novalidate>
                <input type="hidden" class="form-control" ng-model="$editorModal.image.Id">
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" name="title" class="form-control" ng-model="$editorModal.image.Title" maxlength="50" required>
                    <span class="error-message" ng-show="imageForm.title.$error.required && imageForm.title.$dirty">Title is required.</span>
                </div>
                <div class="form-group">
                    <label>Svg Specification:</label>
                    <div class="row">
                        <textarea class="text-area form-control" name="svgXml" rows="4" cols="50" ng-model="$editorModal.image.SvgString" required></textarea>                        
                    </div>
                    <span class="error-message" ng-show="imageForm.svgXml.$error.required && imageForm.svgXml.$dirty">The Svg specification is required.</span>
                </div>
            </form>

            <button type="button" class="btn btn-default" ng-click="$editorModal.close()"><i class="fa fa-window-close"></i> Close</button>
            <button type="submit" class="btn btn-success" ng-click="$editorModal.save()" ng-disabled="imageForm.title.$error.required || imageForm.svgXml.$error.required"><i class="fa fa-save"></i> Save</button>
        </div>
    </md-dialog-content>
</md-dialog>