﻿.panel-images {
    background-color: white;
    border-radius: 5px;
    color: #676a6c;
    padding-bottom: 80px;

    .top-section {
         padding-top: 15px;   
    }
    
    .header {
        margin: 5px 10px;
        border-bottom: 1px solid #DDDDDD;
        margin-top: 20px;

        .titles {
            font-weight: 400;
        }
    }

    .content {
        margin: 5px 10px;

        .actions {
            padding-left: 10px;
            text-align: center;
        }

        button {
            width: 30px;
            height: 30px;
            line-height: 30px;
            padding: 0;
            margin: 0;
        }

        .details {
            line-height: 34px;
        }

        &:nth-child(even) {
            background-color: #f7f7f7;
            border-top: 1px solid #e7eaec;
            border-bottom: 1px solid #e7eaec;
        }
    }

    .no-wrap {
        display: inline-block;
        width: 80%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}


