﻿.editor-modal {
    .editor-container {
        overflow: hidden;
    }

    .error-message {
       color: red; 
    }
    
    width: 600px;

    .modal-title {
        margin-bottom: 15px;
    }

    .text-area {
        margin: 0 15px;
        height: 200px;
    }
}
