﻿.panel-images {
  background-color: white;
  border-radius: 5px;
  color: #676a6c;
  padding-bottom: 80px; }
  .panel-images .top-section {
    padding-top: 15px; }
  .panel-images .header {
    margin: 5px 10px;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 20px; }
    .panel-images .header .titles {
      font-weight: 400; }
  .panel-images .content {
    margin: 5px 10px; }
    .panel-images .content .actions {
      padding-left: 10px;
      text-align: center; }
    .panel-images .content button {
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 0;
      margin: 0; }
    .panel-images .content .details {
      line-height: 34px; }
    .panel-images .content:nth-child(even) {
      background-color: #f7f7f7;
      border-top: 1px solid #e7eaec;
      border-bottom: 1px solid #e7eaec; }
  .panel-images .no-wrap {
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis; }

.editor-modal {
  width: 600px; }
  .editor-modal .editor-container {
    overflow: hidden; }
  .editor-modal .error-message {
    color: red; }
  .editor-modal .modal-title {
    margin-bottom: 15px; }
  .editor-modal .text-area {
    margin: 0 15px;
    height: 200px; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #f3f3f4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

