﻿<div class="panel-images container">
    <div class="row top-section">         
        <div class="col-lg-4 col-md-5">
           <button type="button" class="btn btn-success d-inline" ng-click="$ctrl.showModal()"><i class="fa fa-plus">&nbsp;</i> Add New</button>
           <button type="button" class="btn btn-success d-inline" ng-disabled="$ctrl.images.length == 0" ng-click="$ctrl.generatePdf()"><i class="fa fa-download">&nbsp;</i> Download Pdf</button>
        </div>
        <div class="col-md-2 offset-lg-1">
            <h2>SVG app</h2>
        </div>
    </div>
    <div class="row header" ng-controller="ImagesController">
        <div class="col-md-3">
            <div class="titles">Title</div>
        </div>
        <div class="col-md-7">
            <div class="titles ">Svg Specification</div>
        </div>
        <div class="col-md-2">
            <div class="titles text-center">Actions</div>
        </div>
    </div>
    <div class="row content" ng-repeat="img in $ctrl.images">
        <div class="col-md-3">
            <div class="details">{{img.Title}}</div>
        </div>
        <div class="col-md-7 no-wrap">
            <div class="details no-wrap">{{img.SvgString}}</div>
        </div>
        <div class="col-md-2">
            <div class="actions details">
                <button class="btn btn-xs btn-success" ng-click="$ctrl.showModal(img.Id)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-xs btn-danger" ng-click="$ctrl.delete(img.Id)"><i class="fa fa-trash"></i></button>
                <div class=""></div>
                <div class=""></div>
            </div>
        </div>

    </div>
</div>
